# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Env files (if any)
.env